{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg' %});">
		<h2 class="ltext-105 cl0 txt-center">
			Service Provider Verification
		</h2>
	</section>
 <table class="table table-bordered table-striped table-hover" style="background-color: #002633;margin-top:50px">


                                      <th class="success" style="color: white;">Service provider Name</th>
                                      <th class="success" style="color: white;">Job</th>

                                 <th class="success" style="color: white;">Email</th>
                                  <th class="success" style="color: white;">Location</th>
                                  <th class="success" style="color: white;">Phone Number</th>

                                  <th class="success" style="color: white;">License Number</th>
                              <th class="success" style="color: white;">Action</th>
     {% for i in shop  %}
                                <tr style="background-color:white;width: 700px;">

                                    <td>{{ i.user.first_name }}</td>
                                    <td>{{ i.job.job }}</td>

                                    <td>{{ i.user.email }}</td>
                                    <td>{{ i.location }}</td>

                                    <td>{{ i.phone }}</td>
                                    <td>{{ i.LicenseNumber }}</td>

                                    <td><button style="background-color:limegreen"><a href="{% url 'approve' i.user_id %}" class=" btn btn-success" >Approve</a></button>
                                    <button style="background-color:red"><a href="{% url 'reject' i.user_id %}" class=" btn btn-danger" >Reject</a></button></td>
                                </tr>


              {% endfor %}



                            </table>
      <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>

  {% endblock %}