{% extends "admin/admin_base.html" %}
{% load static %}
{% block content %}

  <!-- contact section -->
  <section class="contact_section layout_padding-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="heading_container">
            <h2>
            job category
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container">
            <form action="" method="post">
                          {% csrf_token %}            
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              <div>
{{form.as_p}}              
</div>
             
              <div class="btn_box">
                <button type="submit">
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->

  {% endblock %}